---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const postCount = posts.length
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null,
    },
  }))
}

type Props = {
  post: CollectionEntry<'blog'>
  prevPost: CollectionEntry<'blog'>
  nextPost: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { title, image, description } = post.data
const { Content } = await post.render()
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  pageType="article"
  pageOperate={true}
>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1 class="text-title">
        {title}
      </h1>
    </header>
    <div class="max-w-none prose prose-dante sm:prose-lg">
      <Content />
    </div>
  </article>
</BaseLayout>
