---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('blog')
  const postCount = posts.length
  return posts.map((post, index) => ({
    params: { slug: post.slug },
    props: {
      post,
      prevPost: index + 1 !== postCount ? posts[index + 1] : null,
      nextPost: index !== 0 ? posts[index - 1] : null,
    },
  }))
}

type Props = {
  post: CollectionEntry<'blog'>
  prevPost: CollectionEntry<'blog'>
  nextPost: CollectionEntry<'blog'>
}

const { post } = Astro.props
const { title, image, description } = post.data
const { Content } = await post.render()
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  pageType="article"
  showHeader={false}
>
  <article class="mb-16 sm:mb-24">
    <header class="mb-8">
      <h1
        class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight"
      >
        {title}
      </h1>
    </header>
    <div class="max-w-none prose prose-dante sm:prose-lg">
      <Content />
    </div>
  </article>
</BaseLayout>

<script>
  document.addEventListener('astro:page-load', () => {
    const copyUrlButton = document.querySelector(
      '.copy-url-button',
    ) as HTMLButtonElement
    copyUrlButton?.addEventListener('click', async () => {
      await copyUrl(copyUrlButton)
    })

    async function copyUrl(button: HTMLButtonElement) {
      let url = button.getAttribute('data-url') || ''
      let label = button.innerText

      await navigator.clipboard.writeText(url)

      button.innerText = 'Copied'

      setTimeout(() => {
        button.innerText = label
      }, 2500)
    }
  })
</script>
