---
import { marked } from 'marked'
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'

const hero = siteConfig.hero
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  {
    (hero.title || hero.image || hero.text || hero.socialLinks) && (
      <div class="prose max-w-3xl w-full">
        {hero.title && <h1 class="text-title">{hero.title}</h1>}
        {hero.image && (
          <>
            <img
              class="w-full inline-block rounded-lg"
              img-light
              src={hero.image.light.src}
              loading="lazy"
              decoding="async"
              alt={hero.image.light.alt || 'Hero Image'}
            />
            <img
              class="w-full inline-block rounded-lg"
              img-dark
              src={hero.image.dark.src}
              loading="lazy"
              decoding="async"
              alt={hero.image.dark.alt || 'Hero Image'}
            />
          </>
        )}
        {hero.text && <div set:html={marked.parse(hero.text)} />}
        {hero.socialLinks.length > 0 && (
          <>
            <hr class="w-14 mx-auto my-8 border-solid border-1px !border-truegray-200 !dark:border-truegray-800" />
            <p>Find me on</p>
            <p class="flex gap-x-4 gap-y-2 flex-wrap">
              {hero.socialLinks.map((link) => (
                <a
                  aria-label={link.text}
                  href={link.href}
                  target="_blank"
                  class="prose-link"
                >
                  <i class:list={[link.icon]} />
                  {link.text}
                </a>
              ))}
            </p>
          </>
        )}
        {siteConfig.email && (
          <p>
            If you have any questions, please email me at
            <a
              prose-link
              aria-label={siteConfig.email}
              href={`mailto:${siteConfig.email}`}
            >
              {siteConfig.email}
            </a>
            .
          </p>
        )}
      </div>
    )
  }
</BaseLayout>
