---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  <article class="prose max-w-3xl w-full text-base">
    <h1 class="text-title">Kaivan Wong</h1>
    <img
      width="640"
      height="360"
      height="auto"
      class="inline-block rounded-lg"
      src="/hero.png"
      loading="lazy"
      decoding="async"
      alt="Hero Image"
    />
    <p>Hi there</p>
    <p>
      I'm Kaivan, a front-end engineer with perfectionism (it's not always good
      :p).
    </p>
    <p>
      Creator of
      <a
        class="prose-link"
        target="_blank"
        href="https://github.com/opuntia-dev"
      >
        <i class="i-mdi-cactus"></i>Opuntia
      </a>,
      <a class="prose-link" target="_blank" href="https://github.com/stack-nax">
        <i class="i-ri-infinity-line"></i>Infinite
      </a>.
    </p>
    <p>
      Member of <a
        class="prose-link"
        target="_blank"
        href="https://github.com/antdv-pro"
      >
        <i class="i-ant-design-ant-design-outlined"></i>Andtv Pro
      </a>.
    </p>
    <p>
      I love technology. At present, I focus on the all front-end application
      technology stack, developing web applications, mobile apps and desktop
      applications. My goal is to be able to make excellent products, so I am
      studying hard.
    </p>
    <p>
      This is my personal website where you can read my blog and notes. If you
      like this, please visit my social media page and follow me.
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
