---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose max-w-3xl w-full">
    <h1 class="text-title">Hi, I'm Kaivan</h1>
    <p>
      <img
        width="640"
        height="360"
        src="/hero.jpg"
        loading="lazy"
        decoding="async"
        alt="Hero Image"
      />
    </p>
    <p>A front-end engineer with perfectionism (it's not always good :p).</p>
    <p>
      Creator of
      <a
        class="prose-link"
        target="_blank"
        href="https://github.com/opuntia-dev"
      >
        <i class="i-mdi-cactus"></i>Opuntia
      </a>,
      <a class="prose-link" target="_blank" href="https://github.com/stack-nax">
        <i class="i-ri-infinity-line"></i>Infinite
      </a>.
    </p>
    <p>
      Member of <a
        class="prose-link"
        target="_blank"
        href="https://github.com/antdv-pro"
      >
        <i class="i-ant-design-ant-design-outlined"></i>Andtv Pro
      </a>.
    </p>
    <p>
      I love technology. At present, I focus on the all front-end application
      technology stack, developing web applications, mobile apps and desktop
      applications. My goal is to be able to make excellent products, so I am
      studying hard.
    </p>
    <p>
      This is my personal website where you can read my blog and notes. If you
      like this, please visit my social media page and follow me.
    </p>
    <p>
      Finally, I love traveling so much that I also share my travels on my
      social media.
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you have any questions, please email me at
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
